$color-background: #2f2f2f;
$color-white: #fff;
$color-primary--dark: #101539;
$color-primary: #00ffea;
$color-primary--medium: #343a5e;
$color-primary--light: #4b5179;
$color-primary--xlight: #6d7395;
