<template>
  <div class="game">
    <Status :checkWinner="checkWinner.player" :isDrawStatus="isDraw" :playerNameStatus="playerName" />
    <div class="game__board">
      <Square
        v-for="(squareValue, index) in squares"
        v-on:playerClicked="writeOnClick"
        :key="index"
        :value="index"
        :content="squareValue"
      />
    </div>
    <Restart v-on:reset="reset" :gameOver="isGameOver" @onClick="reset()" />
  </div>
</template>

//! SCRIPTS ===================================================================
<script>
import Status from "./Status";
import Square from "./Square";
import getWinnerMethod from "../utils/combinations";
import Restart from "./Restart";

export default {
  components: {
    Square,
    Status,
    Restart
  },

  data: () => {
    return {
      //? je cree un tableau que je remplis par des null
      squares: Array(9).fill(null),
      //? j'initie le NOM du joueur 1 (celui qui débute la partie)
      playerName: "Joueur 1"
    };
  },

  //? les propriétés déclarées dans computed (dites "calculées")
  //? sont mises en cache selon leurs dépendances
  computed: {
    //? si une des deux conditions existe alors return "true"
    isGameOver() {
      return this.isDraw || this.checkWinner.player != null;
    },

    checkWinner() {
      return getWinnerMethod(this.squares);
    },

    isDraw() {
      //? si on ne trouve aucune case à null, alors elles sont toute remplies,
      //? il y a donc égalité
      // eslint-disable-next-line
      return this.squares.filter((square) => !square).length === 0;
    }
  },

  //! METHODS =================================================================
  methods: {
    changePlayerName() {
      if (this.isGameOver === false) {
        // console.log("entrée → ", this.playerName);
        if (this.indexPlayer === false) {
          this.playerName = "Joueur 1";
        } else {
          this.playerName = "Joueur 2";
        }
        // console.log("sortie → ", this.playerName);
      }
    },

    writeOnClick(index) {
      if (this.isGameOver === false) {
        this.$set(this.squares, index, this.indexPlayer ? "O" : "X");
        this.indexPlayer = !this.indexPlayer;
        this.changePlayerName();
      }
    },

    reset() {
      this.$router.push("/");
    }
  }
};
</script>
