<template>
  <div class="game__action">
    <button v-if="gameOver" @click="onClick" style="position: absolute">Restart</button>
  </div>
</template>

<script>
export default {
  props: {
    gameOver: Boolean
  },
  methods: {
    onClick() {
      this.$emit("reset", this.gameOver);
    }
  }
};
</script>

<style>
</style>