<template>
  <div class="game__box" @click="onClick" :class="{ 'game__box--x': content === 'X', 'game__box--o': content === 'O' }">
    <span>{{ content }}</span>
  </div>
</template>

<script>
// import { useSound } from "@vueuse/sound";
// import ticSfx from "../assets/mp3/retroclick.mp3";
// import drawSfx from "../assets/mp3/creatif.mp3";

export default {
  props: {
    value: Number,
    content: String
  },

  methods: {
    onClick() {
      // quand le joueur clique sur une case vide
      if (this.content === null) {
        // envoie sa prop "valeur"
        this.$emit("playerClicked", this.value);
      }
    }
  }

  // setup() {
  //   const clicSound = useSound(ticSfx);
  //   return {
  //     clicSound
  //   };
  // }
  // setup2() {
  //   const { drawSound } = useSound(drawSfx);
  //   return {
  //     drawSound
  //   };
  // }
};
</script>
