<template>
  <div class="game__status">
    <span v-if="checkWinner">Winner is {{ playerNameStatus }}</span>
    <span v-else-if="isDrawStatus">That's a draw game</span>
    <span v-else>Next player is {{ playerNameStatus }}</span>
  </div>
</template>

<script>
export default {
  props: {
    checkWinner: String,
    indexPlayer: Boolean,
    playerNameStatus: String,
    isDrawStatus: Boolean
  },
  methods: {}
};
</script>
